@media screen and (min-width: 0px) {
 
    .active{ 
        background-image: radial-gradient(circle at 16.49% 30.65%, #aed7ff 0, #3c7bf2 50%, #002967 100%);    
    }

    .active span{
    color: black !important;
    }

    .active i{
        color: black !important;
    }

    main{
        background-image: radial-gradient(circle at 16.49% 30.65%, #aed7ff 0, #3c7bf2 50%, #002967 100%); 
    } 
        main div.container{
            background-color: white;
            min-height: 500px;
        }

}

@media screen and (min-width: 600px){

    .active{ 
        border-radius: 15px;
        border: 3px solid black;
    }
}

@media screen and (min-width:900px) {

}