main section.first div{
    order: 2;
}

main section.first figure{
    order: 1;
}

main section.first figure img{
    width: 33.3%;
}

main section.first img:last-child{
    display: block !important;
}