* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

header h1{
    color: green;
    font-size: 18pt;
    font-family: 'Gill Sans';
}

header nav{
    display: none;
}

header i{
    color: green;
    font-size: 18pt;
}

main section.first{
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around ;
    width: 100%;
    height: auto;
}

main section.first div{
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

main section.first div span{
    color: white;
    font-size: 14pt;
    min-height: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.first div h2{
    color: green;
    font-size: 16pt;
    min-height: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.first div p{
    font-size: 12pt;
    color: white;
    min-height: 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.first figure{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

main section.first img{
    width: 25%;
}

main section.first img:last-child{
    display: none;
}

main section.novedades{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around ;
    width: 100%;
}

main section.novedades h3{
    color: green;
    font-size: 16pt;
    width: 90%;
    min-height: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.novedades article{
    width: 90%;
}

main section.novedades article span{
    font-size: 12pt;
    font-weight: bold;
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.novedades article h2{
    font-size: 14pt;
    color: green;
    min-height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

main section.novedades article p{
    font-size: 12pt;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

footer a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

footer a i{
    color: white;
    font-size: 30pt;
}

footer a i:hover{
    color: green;
    font-size: 36pt;
}

footer a span{
    font-size: 16pt;
    color: white;
}