header i{
    display: none !important;
}

header nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    
}

header nav a{
    color: green;
    font-size: 12pt;
    text-decoration: none;
}

main section.first{
    flex-wrap: nowrap;
}

main section.first div{
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}

main section.first div span{
    width: 95%;
}

main section.first div h2{
    width: 95%;
}

main section.first div p{
    width: 95%;
}
main section.first figure{
    width: 50%;
}

main section.first figure img{
    width: 50%;
}

main section.novedades{
    flex-wrap: nowrap;
}

main section.novedades h3{
    width: 23%;
    flex-direction: column;
    justify-content: space-around;
    max-height: 50px;

}

main section.novedades article{
    width: 23%;
}
