header{
    height: 110px;
}

header div#top a{
    order: 3;
    display: block !important;
}

header div#top figure{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div#top figure img{
    width: 90%;
    height: 90%;
}

header div#top h1 {
    width: auto;
    font-size: 29pt;
}

main section#up{
    min-height: 550px;
}

main section#up article{
    width: 45%;
}

main aside#common{
    flex-flow: row wrap;
}

main aside#common article{
    width: 45%;
}

main aside#common article#second{
    display: block;
}